@import "font";
@import "icon";
@import "custom";
@import "utility";
@import "bootstrap";

@include media-breakpoint-up(md) {
  h1 {
    font-size: 30px !important;
  }
  .w-md-75 {
    width: 75% !important;
  }
  .w-md-50 {
    width: 50% !important;
  }
}
